* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  line-height: 1.3;
  color: rgb(0, 0, 0);
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.search-container {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  background-color: #307bd2b1;
  z-index: 1;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-form input {
  width: 30%;
  border: none;
  outline: none;
  padding: 8px 8px;
  font: inherit;
}

.search-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgb(16, 222, 157);
  font: inherit;
  cursor: pointer;
}

.search-form button:hover,
.search-form button:focus {
  background-color: rgb(22, 155, 232);
  transition: all 0.3s;
}

.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  margin-left: -15px;
  padding-top: 60px;
  justify-content: center;
}

.gallery__link {
  margin-top: 15px;
  margin-left: 15px;
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 3);
  transition: all 0.5s;
}

.gallery__link:hover,
.gallery__link:focus {
  transform: scale(1.03);
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gallery-item__img {
  display: block;
  height: 160px;
  object-fit: cover;
}

.info {
  padding: 5px;
  justify-content: space-around;
  background-color: rgb(22, 155, 232);
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
}

.info-item:not(:first-child) {
  margin-left: 5px;
}

.load-more.is-hidden {
  display: none;
}

.load-more {
  display: block;
  margin: 25px auto 0 auto;
  padding: 8px 20px;
  border: none;
  background-color: rgb(16, 222, 157);
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  font: inherit;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.load-more:hover {
  background-color: rgb(22, 155, 232);
  transition: all 0.3s;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f9fb;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader:after {
  content: '';
  width: 100px;
  height: 100px;
  border: 10px solid #f7f9fb;
  border-top-color: rgb(16, 222, 157);
  border-bottom-color: rgb(16, 222, 157);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(5turn);
  }
}
